<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>forgot Password</title>
  <link rel="stylesheet" th:href="@{/css/forgotPassword.css}">
  <script src="../static/javascript/forgotPassword.js" defer></script>
</head>
<body class="whole-body" >
<div class="main-wrapper">
  <div class="wrapper-left">
    <img class="login-image" th:src="@{/images/forgot.jpg}" alt="">
  </div>
  <form th:action="@{/user/reset-password}" method="post">
    <div class="wrapper-right">
      <h2 class="h2">Forgot Password</h2>
      <h3 class="h3-1">Enter the OTP here.</h3>
      <input class="email-box" type="username" id="username" name="username" placeholder="Enter the username" required th:value="${username}" >
      <input class="email-box" type="number" id="OTP" name="OTP" placeholder="Enter the OTP" required/>
      <input class="email-box" type="password" id="password" name="password" placeholder="Enter the password" required/> >
      <!-- <a class="a-1" href="">Login?</a> -->
      <button class="forgot-button" onclick="fill()">Confirm</button>
      <h3 class="h3-2">Back to Login
        <a class="a-2" href="">Click Here!</a>
      </h3>
    </div>
  </form>

</div>
</body>
</html>