<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
    <div class="container">
        <form id="form" th:action="@{/login}" method="post">
            <h1>Welcome</h1>
            <h3>please enter your credentials!</h3>
            <!-- <h5>please enter your credentials!</h5> -->
            <div class="input-control">
                <label for="UserName">UserName</label>
                <input id="UserName" name="username" type="text" required autofocus/>
                <div class="error"></div>
            </div>
            <div class="input-control">
                <label for="Password">Password</label>
                <input id="Password" name="password" type="password" required autofocus/>
                <div class="error"></div>
            </div>
           <div class="login-button">
            <button type="submit">Login</button>
           </div>
            <h4></h3> <a href="registration.html">Forgot Password?</a></h4>

          <h4>Don't have an account?<a th:href="@{/user/add}"> Create here</a></h4>
        </form>
    </div>
</body>
</html>